.header {
  display: flex;
  flex-direction: column; /* Ensure elements stack vertically */
  align-items: center;
  padding: 10px 20px;
}

.logo-icons-container {
  display: flex;
  justify-content: space-between; /* Align logo to the left and icons to the right */
  width: 100%; /* Ensure the container spans the entire width */
}

.logo-container {
  padding-right: 20px; /* Add padding to the right of the logo */
  margin-left: 20px;
}

.icons-container {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.icons-container a {
  margin-left: 20px; /* Adjust spacing between icons */
}

.icons-container a:not(:last-child) {
  margin-right: 10px; /* Add space between icons */
}

.separator {
  width: 100%; /* Ensure the separator spans the entire width */
  margin-top: 10px; /* Adjust as needed */
  filter: brightness(0 px);
  filter:opacity(20%);
}